/* Header and Search Styles */
.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.header-container h1 {
    margin-left: 1rem;
    margin-bottom: 0;
}

.search-container {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.bg-primary {
    background-color: #cbcece;
}
  
.bg-light {
    background-color: whitesmoke;
}

/* Text and Background Colors */
.text-primary {
    color: #2c3e50;
}
  
.text-light {
    color: #f8f9fa;
}