/* Header and Search Styles */

h3 {
    font-family: 'Noto serif', 'Merriweather', serif;
    margin-bottom: 1.25rem;
    line-height: 1.25;
    font-size: 1.25rem;
    color: #2c3e50;
}

.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.header-container h1 {
    margin-left: 1rem;
    margin-bottom: 0;
}

.search-container {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}
