/* Layout Styles */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.min-100-vh {
  min-height: 100vh;
}

.col-md-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.align-stretch-md {
  align-items: stretch;
}

.align-content-stretch-md {
  align-content: stretch;
}

/* Background Colors */
.bg-primary {
  background-color: #cbcece;
}

.bg-light {
  background-color: whitesmoke;
}

/* Header Styles */
.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.header-container h1 {
  margin-left: 1rem;
  margin-bottom: 0;
}

/* Search Styles */
.search-container {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.search-input-group {
  display: flex;
  width: 100%;
}

#search-input {
  flex-grow: 1;
  margin-right: 10px;
}

.search-input-group .btn {
  white-space: nowrap;
}

/* Button Styles */
.btn-danger {
  background-color: #dd7e6b;
  margin-top: 0;
}

.btn-danger:hover {
  background-color: #bd2130;
}

/* Search History Styles */
.previously-searched h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

#search-history {
  list-style-type: none;
  padding: 0;
}

#search-history li {
  background-color: #f8f9fa;
  border: 1px solid;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

#search-history li:hover {
  background-color: #e9ecef;
}