/* Reset and Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.6;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto serif', 'Merriweather', serif;
  margin-bottom: 1.25rem;
  line-height: 1.25;
  font-size: 2rem;
  color: #2c3e50;
}

/* Text and Background Colors */
.text-primary {
  color: #2c3e50;
}

.text-light {
  color: #f8f9fa;
}

.bg-primary {
  background-color: #cbcece;
}

.bg-light {
  background-color: whitesmoke;
}

/* Layout Styles */

.searchbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.searchbox-field{  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  width:100%;
}

.w-100 {
  width: 100%;
}

/* Form Styles */
.form {
  width: 100%;
  max-width: 600px;
}

.search-container {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
}

#search-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  height: 40px;
}

/* Button Styles */
.btn {
  white-space: nowrap;
  padding: 0 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #1a9988;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-search:hover {
  background-color: #0056b3;
}

.btn-info {
  background-color: #e69138;
  margin-bottom: .5rem;
}

.btn-info:hover {
  background-color: #C16502;
}

.btn-search .fas {
  display: none;
}

.btn-search .search-text {
  display: inline;
}

/* Radio Button Styles */
.radio-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top:20px;
  margin-bottom: 20px;
}

.radio-toolbar label {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0.5rem;
  height: 40px;
  line-height: 25px;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .search-container {
    flex-direction: row;
  }

  #search-input {
    margin-right: 0;
    margin-bottom: 0;
  }

  .btn .btn-info .btn-info{
    font-size: 0.8rem;
  }

  .btn-search {
    padding: 0;
    width: 40px;
    height: 40px;
  }

  .btn-search .fas {
    display: block;
    font-size: 1.5rem;
  }

  .btn-search .search-text {
    display: none;
  }

  .radio-container {
    flex-direction: row;
    align-items: center;
  }

}